{% extends "base.html" %}
{% block title %}Product{% endblock %}
{% block content %}
<h1 class="text-3xl font-poppins mx-auto ml-24 mb-9">{{ product.title }}</h1>

<div class="mx-40 bg-gray-50 p-6 rounded-lg shadow-md">
  <p>Author: {{ product.author }}</p>
  <p>Date Created: {{ product.date_created }}</p>
  <div class="mb-4">
    {% for image in product.images %}
      <img src="{{ image.url }}" alt="Product Image" class="w-full h-auto mb-4" />
    {% endfor %}
  </div>
  <div class="mb-4">
    {{ product.content | safe }}
  </div>
</div>
{% endblock %}
